@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo de flechas en el carrusel */
.slick-prev:before,
.slick-next:before {
  color: #383838ce !important;
 
}

@media (max-width: 1024px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}